.input-wrapper {
  position: absolute;     /* Absolute positioning relative to nearest positioned ancestor */
  top: 30px;              /* Distance from top of the page or container */
  left: 0px;
  right: 10px;
  width: 100%;             /* Distance from the left side */
  
  background-color: rgb(68, 139, 225);
  border-radius: 20px;
  height: 2.5rem;
  padding: 5px 10px;
  box-shadow: 0px 0px 8px #ddd;
  display: flex;
  align-items: center;
  max-width: 300px;
}


.input-wrapper input {
  background-color: #ddd;
  font-weight: bold;
  width: 100%;
  border-radius: 10px;
  height: 100%;
  font-size: 14px;
  padding: 0 5px;
  border: none;
}

.input-wrapper input:focus {
  outline: none;
}

#search-icon {
  font-size: 14px;
  color: rgb(7, 22, 136);
  margin-right: 6px;
}

.text-lg {
  border: none;
  outline: none;
  width: 100%;
}
