.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 10px;
    padding-bottom: 15px;  /* Reduce padding */
    max-width: 250px;  /* Make container smaller */
    width: 300px; /* Ensure it uses the available space */
    height: 200px;
    background: #ffffff;
    border-radius: 10px;
  }
  
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    width: 100px;
    margin-top: 10px;
}

.text{
    color:rgb(23, 66, 141);
    font-size: 18px;
    font-weight: 700;
}

.underline{

    width: 61px;
    height: 6px;
    background: linear-gradient(135deg, rgba(199, 200, 216, 0.9), rgba(51, 94, 194, 0.9), rgba(148, 149, 205, 0.9));
    border-radius: 4px;
}

.inputs {
    margin-top: 15px; /* Reduce space between inputs */
    display: flex;
    flex-direction: column;
    gap: 10px;  /* Smaller gap between input fields */
    align-items: center;
  }
  
  
  .input {
    display: flex;
    align-items: center;
    margin: auto;
    width: 100%;
    max-width: 130px;  /* Much smaller width */
    height: 15px;      /* Smaller height */
    background: #eaeaea;
    border-radius: 6px;
    padding: 2px;      /* Reduced padding inside the input boxes */
  }
  
  .input input {
    width: 100%;
    border: none;
    background: transparent;
    padding: 3px;      /* Reduced padding inside the input field */
    font-size: 0.4rem; /* Smaller font size for inputs */
  }
  
  .input img {
    width: 5px;  /* Smaller icons */
    height: 5px;
    margin: 0 5px; /* Reduced space around the icons */
  }
  
  .forgot-password{
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 15px;
    color: #797979;
    font-size: 0.4rem;

  }

  .forgot-password span{
    color: rgb(6, 8, 151);
    cursor: pointer;
  }

  .submit-container{
    display: flex;
    gap: 10px;
    margin: 20px auto;
  }

  .submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 13px;
    color: #fff;
    background-color: rgb(23, 93, 223);
    border-radius: 50px;
    font-size: 7px;
    font-weight: 700;
    cursor: pointer;
  }

  .gray{
    background: #eaeaeaea;
    color: #676767;
  }

