.results-list {
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 8px #ddd;
    border-radius: 5px;
    margin-top: 0.5rem;
    max-height: 300px;
    max-width: 210px;
    overflow-y: scroll;
    position: absolute; /* Ensures it stays on top */
    z-index: 9999; /* Ensures it appears above other elements */
    left: 0; /* Aligns with input field */
}

.results-list .search-result {
    font-size: 12px !important;
}

.no-results {
    font-size: 12px;
    text-align: center;
    color: gray;
    padding: 10px;
}
