
.results-list{
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 8px #ddd;
    border-radius: 5px;
    margin-top: .5rem;
    max-height: 300px;
    max-width: 210px;
    overflow-y: scroll;

}
.results-list .search-result {
    font-size: 6px !important; /* Increase specificity and use !important */
}
