* {
    font-family: 'Times New Roman', Times, serif !important;
}

.App{

background-color: #eee;
height: 100vh;
width: 100vw;
}

.search-bar-container{

    width: 100%;
    position: relative;
    top: 15px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 200px;

}

.top-dec-container {
    background: linear-gradient(0.35turn, #2b6bc6, #98ceef, #2b6bc6); 
    padding-top: 40vh; /* Reduce padding so it’s not too long */
    width: 100%; /* Make it flexible */
    max-width: 590px; /* Prevent it from growing too much */
    min-width: 200px; /* Set a reasonable minimum */
    position: relative;
    right: 0; /* Adjust for better centering */
    top: 0;
}

.mid-dec-container{

    /* background: linear-gradient(0.35turn, #3f87a6, #ebf8e1, #3f87a6);
    padding-top: 8vh; /* Reduce padding so it’s not too long */
    width: 100%; /* Make it flexible */
    max-width: 590px; /* Prevent it from growing too much */
    min-width: 200px; /* Set a reasonable minimum */
    position: relative;
    right: 0; /* Adjust for better centering */
    top: -60px;

}

.logo-top-container img{
    position: relative;
    max-width: 20px; /* Increase width */
    max-height: 20px;
    right: -20px;
    bottom: 90px;


}

.top-buttons button{
background: transparent;
transform: all 0.3s ease;
position: relative;
font-size: 8px;
position: relative;
left: 200px;
bottom: 110px;
border: none;
color: rgb(224, 222, 222);
}

.top-buttons button:hover {
    background-color:#054595b0;
    border-radius: 1px;
    height: 10px;
    width: 25px;
    transition: 0.7s;
    
    /* background: linear-gradient(to right,  rgb(30, 111, 233), rgb(0, 255, 238)); */
}

.button:active {
    color: black;
}


